   
   .mainbox{
    display: flex;
    justify-content: space-between;
    margin-left: 7%;
    margin-right: 7%;
    margin-top: 15px;
}
.leftbox{
   width: 65%;
}
.H{
   text-align: left;
   margin-left: 0px;
   padding-left: 0%;
}

#email{
   width: 99%;
   height: 35px;
}
#first{
    width: 37%;
    height: 35px;
    margin-right: 29.5px;
}
#last{
    width: 36.5%;
    height: 35px;
}
#address{
 width: 99%;
 height: 35px;
}
    label{
        margin-right: 5%;
        margin-left: 1%;
    } 
       #btn{
         margin-left: 5%;
         margin-right: 5%;
         text-align: center;
         padding-top: 1.5%;
         color: white;
         width: 90%;
         height: 40px;
         background-color: black; 
         cursor: pointer;
       }


.rightbox{
   width: 32%;
   background-color: beige;
}
.rightbox h2{
   margin-left: 5%;
   margin-right: 5%;
}
#button{
   margin-left: 5%;
   margin-right: 5%;
   text-align: center;
   padding-top: 3%;
   color: white;
   width: 90%;
   height: 40px;
   background-color: black;
   cursor: pointer; 
}
#cart{
   margin-left: 5%;
   margin-right: 5%;
   display: flex;
   justify-content: space-between;
}
