.App {
  text-align: center;
}

/* .flex{
  display: flex;
} */

#sizeOption{
  width: 260px;
  height: 38px;
  font-size: 16px;
  padding: 5px 10px
}

.relative{
  position: relative;
  height: fit-content;
}