.App {
  text-align: center;
}

.flex{
  display: flex;
  width: 200px;
  justify-content: space-between;
  margin-left: 446px;
}

.div{
  margin-left: 80px;
    text-align: left;
}

#sizeOption{
  width: 260px;
  height: 38px;
  font-size: 16px;
  padding: 5px 10px
}

.leftAlign {
  text-align: left;
}

.code {
  width: 150px;
    height: 48px;
}



